
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* CSS de header */

header{
    background-color: #dfdfdf;
    width: 100%;
}

.header-main{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;
    /* background-color: antiquewhite; */
}

.header-title{
    display: flex;
}

.header-title img:hover{
    content: url(https://gametora.com/images/umamusume/header_umas/2_hover.png) ;
}

.header-title-text{
    display: block;
    padding: 25px 0 0 20px;
    color: #34363b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    line-height: 1.4;
}

.header-title-text a{
    text-decoration: none;
    color: #34363b;
}

.header-title-text h1{
    font-weight: lighter;
}

.header-title-text p{
    font-size: 12px;
}

.header-config{
    padding: 35px 23px 30px 0;
}

.header-main h1, .header-main img, .header-main p{
cursor: pointer;
}


/* CSS de Nav */

nav{
    background-color: #7aa7a5;
    width: 100%;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1320px;
    margin: auto;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:110%;
}

.database, .tools, .articles{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.database:hover{
    background-color: #8eb9b7;
}

.tools:hover{
    background-color: #8eb9b7;
}

.articles:hover{
    background-color: #8eb9b7;
}


/* CSS de Main Body */
body{
    width: 100%;
    background-color: #dfdfdf;
}

.main{
    max-width: 1320px;
    background-color: white;
    margin: auto;
    padding: 15px 15px 15px 15px;
}

.main h1{
    font-weight:900;
}

.main-div{
    display: grid;
    margin: auto;
    grid-template-columns: 3fr 1fr;
}

/* .main-content */


/* Aside-content */

.aside-content{
    padding: 0 0 0 10px;
    flex-wrap: wrap;
}

.aside-content-view{
    background-color: #dfdfdf;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 20px 8px;
    border-radius: 10px;
    line-height: 1.4;
    letter-spacing: .01em;
}

.aside-content-view h4{
    padding: 5px 0 5px 0;
}

.new-content{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    height: 50px;
    margin: 10px 0 10px 0;
}

.new-content img{
    padding-right: 20px;
}

.aside-content-simple-view{
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 5px;
    gap: 10px;
}

.aside-content-simple-view p{
    font-style: italic;
}



/* CSS de Footer */

footer{
    background-color: #dfdfdf;
    width: 100%;
    font-size: 13px;
}

.footer-content{
    max-width: 1320px;
    margin: auto;
    padding: 18px 0 0 0;
}

.social-media{
    display: flex;
    padding: 18px 0 0 0; 
}

.social-media-logo{
    display: flex;
    margin-right: 20px;
    padding: 5px;
    align-items: center;
    font-size: 13px;
    color: #5757d8;
}

.social-media-logo img{
    padding: 0 10px 0 0;
}

/* CSS universal */

.change-option-color:hover{
    background-color: #cecece;
    cursor: pointer;
}

.link-style{
    color: #5757d8;
    cursor: pointer;
    text-decoration: none;
}

.link-style-dark-blue{
    color: #0000b5;
    cursor: pointer;
    text-decoration: none;
}
