
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* CSS de header */

header{
    background-color: #dfdfdf;
    width: 100%;
}

.header-main{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;
    /* background-color: antiquewhite; */
}

.header-title{
    display: flex;
}

.header-title-text{
    display: block;
    padding: 25px 0 0 20px;
    color: #34363b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    line-height: 1.4;
}

.header-title-text h1{
    font-weight: lighter;
}

.header-title-text p{
    font-size: 12px;
}

.header-config{
    padding: 35px 23px 30px 0;
}

.header-main h1, .header-main img, .header-main p{
cursor: pointer;
}


/* CSS de Nav */

nav{
    background-color: #7aa7a5;
    width: 100%;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1320px;
    margin: auto;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:110%;
}

.database, .tools, .articles{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.database:hover{
    background-color: #8eb9b7;
}

.tools:hover{
    background-color: #8eb9b7;
}

.articles:hover{
    background-color: #8eb9b7;
}